html {
    height:100%;
}
body {
    font-family: Arial, Helvetica, sans-serif;
    color:white;
    background-color: black;
}

.container {
    margin-left: auto;
    margin-right: auto;
}
header {
    background-color: #f53760;
    
}
.logo {
    width: 300px;
    max-height: 300px;
    margin-left: 100px;
}
.details {
    display: flex;
    justify-content: center;
}
.timer, .errors, .accuracy, 
.cpm, .wpm { 
    background-color:  rgb(119, 28, 184);
    text-align: center;
    height: 50px; 
    width: 90px; 
    margin-right: 20px; 
    margin-top: 70px;;
    padding: 25px; 
    border-radius: 5%; 
    box-shadow: black 4px 5px 10px; 
} 
.cpm, .wpm { 
display: none; 
} 

.header_text { 
text-transform: uppercase; 
font-size: 15px; 
margin-bottom: 5px;
} 

.curr_time, .curr_errors, 
.curr_accuracy, .curr_cpm, 
.curr_wpm { 
font-size: 2.75rem; 
} 

.quote { 
background-color: white; 
font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
text-align: center;
font-size: 30px; 
color: black;
margin-left: 300px;
margin-right: 300px; 
margin-top: 100px;
padding: 25px; 
box-shadow: black 5px 8px 5px; 
} 
textarea{
    display: block;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
}
.input_area { 
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    background-color: #aacbeb; 
    height: 80px; 
    width: 40%; 
    font-size: 1.5rem; 
    font-weight: 600; 
    margin-top: 30px; 
    padding: 20px; 
    border: 0px; 
    box-shadow: black 5px 8px 5px; 
} 

.restart_btn, .stop_btn, .resume_btn { 
display: none; 
background-color: #326765; 
font-size: 1.5rem; 
padding: 10px; 
border: 0px; 
box-shadow: black 5px 8px 5px; 
} 

.incorrect_char { 
color: red; 
text-decoration: underline; 
} 

.correct_char { 
color: rgb(30, 223, 30); 
} 
    
.options{
    display: block;
    display: flex;
    justify-content: center;
    margin: auto;
    margin: auto;
}
.restart_btn, .stop_btn, .resume_btn{
    font-family: 'Oswald', sans-serif;
    font-size: 30px;
    padding: 20px 55px;    
    background-color:white;
    color: #f53760;
    opacity: 0.9;
    border-radius:4px;
    text-decoration: none;
    border-radius: 3px;
    box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.228);
    margin-top: 30px;
    margin-right: 10px;
    margin-left: 10px;
}

